# Virtual environment
.venv/

# SQLite database files
db.sqlite3
identifier.sqlite

# IDE configuration files
.idea/

# Python bytecode and cache
*.pyc
*.pyo
__pycache__/

# Logs and temporary files
*.log
*.pot
*.py[cod]
*.swp
